<app-workspace-nav>
	<app-solicitudes-nav></app-solicitudes-nav>
</app-workspace-nav>
<div class='workspace'>
	<div class='main'>

		<app-experimental-menu titulo="Files" i18n-titulo="">

			<button (click)='crearSolicitud()'
				style="color: #239B56;background: #EAFAF1;border-radius: 5px; height: 28px; line-height: 28px;">
				<mat-icon svgIcon="add-box"></mat-icon>
				<label i18n="">Create File</label>
			</button>

			<button (click)='refrescar()'
				style="color: #D4AC0D;background: #FEF9E7;border-radius: 5px; height: 28px; line-height: 28px;">
				<mat-icon svgIcon="refresh"></mat-icon>
				<label i18n="">Refresh</label>
			</button>

      <button (click)='showClosedRequests()' *ngIf="isVendor || isBackOffice || isMaster"
				style="color: #681C69;background: #E9E9E9;border-radius: 5px; height: 28px; line-height: 28px;">
				<mat-icon svgIcon="closed"></mat-icon>
				<label i18n="">Show Closed Files</label>
			</button>

		</app-experimental-menu>

		<div class='content'>

			<!-- FILTRO -->
			<div style="margin-bottom: 20px;">

				<h5 *ngIf="filters.length < 1" style="margin: 0 0 3px 0;" i18n="">Search</h5>
				<h5 *ngIf="filters.length > 0" style="margin: 0 0 12px 0;" i18n="">Search</h5>

				<div *ngFor="let f of filters">

					<div class="iigwo-input inline">
						<select [(ngModel)]="f.campo">
              <option i18n="" value="file">File</option>
							<option i18n="" value="creationDate" *ngIf="!(isInterviewer || isTemplateCreator)">Creation Date</option>
							<option i18n="" value="edad">Age</option>
							<option i18n="" value="asignado" *ngIf="isMaster">Assigned</option>
							<option i18n="" value="cliente">Customer</option>
							<option i18n="" value="telefono">Phone</option>
							<option i18n="" value="tipoSolicitud">Type</option>
							<option i18n="" value="email">Email</option>
							<option i18n="" value="importancia">Importance</option>
							<option i18n="" value="estatusPago">Payment Status</option>
							<option i18n="" value="estatusSolicitud">File Status</option>
							<option i18n="" value="horario" *ngIf="isMaster || isBackOffice || isInterviewer">Schedule Time</option>
						</select>
					</div>

					<div class="iigwo-input inline">
						<select [(ngModel)]="f.operador">
							<option value="==" i18n="">Same</option>
							<option value=">" i18n="">Higher</option>
							<option value=">=" i18n="">Greater or Equal</option>
							<option value="<" i18n="">Less</option>
							<option value="<=" i18n="">Minor or Equal</option>
							<option value="startsWith" i18n="">Start with</option>
							<option value="endsWith" i18n="">Ends with</option>
							<option value="includes" i18n="">It contains</option>
						</select>
					</div>

					<div class="iigwo-input inline">
						<input placeholder="Text / Number" i18n-placeholder="Text / Number" [(ngModel)]="f.valor">
					</div>

					<button class="iigwo small" style="padding:0;min-height: 26px;" (click)="agregarFiltro()">
						<mat-icon svgIcon="add"></mat-icon>
					</button>

					<button class="iigwo small" style="padding:0;min-height: 26px;" (click)="eliminarFiltro(f)">
						<mat-icon svgIcon="remove"></mat-icon>
					</button>

					<br>

				</div>


				<button *ngIf='filters.length > 0' class="accent iigwo small" (click)="aplicarFiltros()">Apply filters</button>
				<button *ngIf='filters.length > 0' class="iigwo small" (click)="limpiarFiltros()">Clean filters</button>
				<p *ngIf='filters.length == 0' style="font-size:11px;">
					Add one or more filters to facilitate the search for files
				</p>
				<button *ngIf='filters.length == 0' class="iigwo small" (click)="agregarFiltro()">Add filter</button>


			</div>

      <!-- BOTONES A LA DERECHA -->
      <!-- <div style="margin-bottom: 20px; display: flex; flex-direction: row-reverse;">
        <button (click)='showClosedRequests()' class="btn" *ngIf="isVendor || isBackOffice || isMaster"
						style="color: #681C69; background: #E9E9E9; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
						<label i18n="" style="margin: auto;">Show Closed Requests</label>
					</button>
      </div> -->

			<!-- TABLA CON REGISTROS -->
			<div style="display:flex; flex-flow: column; overflow: auto;">
				<table class='big' *ngIf="!(solicitudes.length == 0)">
					<tr>
						<th class=''><input type="checkbox" [checked]="estanTodosSeleccionados()"
								(change)="checkAll($event)"></th>
						<th class='' i18n="">File</th>
						<th class='' i18n="" *ngIf="!(isInterviewer || isTemplateCreator)">Creation Date</th>
						<th class='' i18n="">Age</th>
						<th class='' i18n="" *ngIf="isMaster">Assigned</th>
						<th class='' i18n="">Customer</th>
						<th class='' i18n="">Phone</th>
						<th class='' i18n="">Type</th>
						<th class='' i18n="">Email</th>
						<th class='' i18n="">Importance</th>
						<th class='' i18n="" *ngIf="!(isInterviewer || isTemplateCreator || isVOC)">Payment Status</th>
						<th class='' i18n="">File Status</th>
						<th class='' i18n="" *ngIf="isMaster || isBackOffice || isInterviewer">Schedule Time</th>
					</tr>
					<tr *ngFor='let e of solicitudes | slice:paginacion.begin:paginacion.end'>
						<td class=''><input type="checkbox" [checked]="estaSeleccionado(e.idSolicitud)"
								(change)="check($event, e.idSolicitud)"></td>
						<td class=''><a routerLink="{{e.idSolicitud}}">{{e.idSolicitud}}</a></td>
						<td class='accent' *ngIf="!(isInterviewer || isTemplateCreator)">{{e.fechaInicio | dateYYYYMMDD}}</td>
						<td style="text-align: center;"><span class="badge-status" style="margin: 0;" [ngClass]="{'badge-color-0': e.age == 0,
                            'badge-color-1': e.age <= 1,
                            'badge-color-2': e.age == 2,
                            'badge-color-3': e.age >= 3}">{{e.age}}</span></td>
						<td class='accent' *ngIf="isMaster">{{e.abogado}}</td>
						<td class=''><a routerLink="{{e.idSolicitud}}">{{e.cliente}}</a></td>
						<td class='accent'>{{e.telefono | phone}}</td>
						<td class='accent'>{{e.tipoSolicitud}}</td>
						<td class='accent'>{{e.email}}</td>
						<td style="text-align: center;"><span class="badge-status badge-color-important"
								style="margin: 0;" *ngIf="e.importante.length > 0">{{e.importante}}</span></td>
						<td style="text-align: center;" *ngIf="!(isInterviewer || isTemplateCreator || isVOC)"><span class="badge-status" style="margin: 0;" [ngClass]="{'badge-color-partially': e.idEstatusPago == 1,
                            'badge-color-complete': e.idEstatusPago == 2,
                            'badge-color-hold': e.idEstatusPago == 3,
                            'badge-color-na': e.idEstatusPago == 4}">{{e.estatusPago}}</span></td>
						<td style="text-align: center;"><span class="badge-status" style="margin: 0;" [ngClass]="{'badge-color-received': e.idEstatusSolicitud == 1,
                'badge-color-reviewing': e.idEstatusSolicitud == 2,
                'badge-color-interview': e.idEstatusSolicitud == 3,
                'badge-color-refused': e.idEstatusSolicitud == 4,
                'badge-color-no_show': e.idEstatusSolicitud == 5,
                'badge-color-case': e.idEstatusSolicitud == 6,
								'badge-color-lost': e.idEstatusSolicitud == 7,
								'badge-color-won': e.idEstatusSolicitud == 8,
								'badge-color-open': e.idEstatusSolicitud == 9,
								'badge-color-ready_on_draft': e.idEstatusSolicitud == 10,
								'badge-color-closed': e.idEstatusSolicitud == 11}">{{e.estatusSolicitud}}</span></td>
						<td class='accent' *ngIf="isMaster || isBackOffice || isInterviewer">{{e.fecha_schedule | dateYYYYMMDD}}</td>
					</tr>

					<tr>
						<td colspan="99" style="text-align: right;line-height: 24px;" class="mini">
							<label i18n="">
								Records per page</label>
							<select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()"
								style="margin: 0 8px; font-family: regular; height: 24px;">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							{{paginacion.begin + 1}}-{{paginacion.end}} of {{paginacion.array.length}}
							<button class="iigwo small"
								style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
								(click)="paginacion.back();">
								<mat-icon svgIcon="arrow-back"></mat-icon>
							</button>
							<button class="iigwo small"
								style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
								(click)="paginacion.forward();">
								<mat-icon svgIcon="arrow-forward"></mat-icon>
							</button>
						</td>
					</tr>

				</table>
			</div>

			<!-- MENSAJE DE NO HAY REGISTROS -->
			<div *ngIf="solicitudes.length == 0">
				<h3 style="margin:12px 0 6px 0" i18n="">No results</h3>
				<p style="max-width:396px;" i18n="">There are no files within the search criteria. Make sure that the names are correct and that they are searching in the appropriate field.</p>
			</div>

			<!-- <p style="margin-top: -6px; margin-bottom: 18px; font-size: 11px;">
                <span i18n="@@siNecesitaAyudaPuedeLeerEl">Si necesita ayuda puede leer el
                </span>
                <a target="_blank" [href]='utilService.rutaManual("ManualAdministracionGeneral")'
                    i18n="@@manualAdministracionGeneral">manual de Administración General</a>
            </p> -->

		</div>

		<!--Cargando-->
		<div class='iigwo-loading' *ngIf="cargando">
			<mat-spinner></mat-spinner>
		</div>
	</div>
</div>
