<app-workspace-nav>
  <app-solicitudes-nav></app-solicitudes-nav>
</app-workspace-nav>
<div class='workspace'>
  <div class='main'>

    <app-experimental-menu titulo="Files">

      <button (click)='crearSolicitud()' *ngIf="!(isInterviewer || isInterviewerScales)"
        style="color: #239B56;background: #EAFAF1;border-radius: 5px; height: 28px; line-height: 28px;">
        <mat-icon svgIcon="add-box"></mat-icon>
        <label>Create File</label>
      </button>

      <button (click)='refrescar()'
        style="color: #D4AC0D;background: #FEF9E7;border-radius: 5px; height: 28px; line-height: 28px;">
        <mat-icon svgIcon="refresh"></mat-icon>
        <label>Refresh</label>
      </button>

      <button (click)='showClosedRequests()' *ngIf="isVendor || isBackOffice || isMaster || isGhostwriting"
        style="color: #681C69;background: #E9E9E9;border-radius: 5px; height: 28px; line-height: 28px;">
        <mat-icon svgIcon="closed"></mat-icon>
        <label>Show Closed Files</label>
      </button>

    </app-experimental-menu>

    <div class='content'>

      <!-- FILTRO -->
      <div class="container" style="margin-bottom: 20px;">
        <div class="right">
          <div style="display: flex; align-items: center; justify-content: flex-end; min-width: 228px;">
            <div class="iigwo-input">
              <label>Type</label>
              <select [(ngModel)]="filterType" [ngModelOptions]="{standalone: true}" style="margin-right: 10px;" (change)="clearInputs()">
                <option *ngFor="let e of arrFilterTypes" [ngValue]="e">
                  {{e}}</option>
              </select>
            </div>
            <div class="iigwo-input" style="text-align: center;">
              <label for="myFiles"
                style="font-size: 12px;">My Files</label>
              <input type="checkbox" style="width: 15px;line-height: 18px;margin: 0 6px 0 4px;"
                id="myFiles" [checked]="filterMyFiles" (change)="filterMyFiles = !filterMyFiles">
            </div>
            <div class="iigwo-input" *ngIf="filterType == 'All' || filterType == 'File' || filterType == 'Customer' || filterType == 'Phone' || filterType == 'Email' || filterType == 'Responsible User'">
              <label>Value</label>
              <input type="text" placeholder="Enter a value" [(ngModel)]="filterInputText">
            </div>
            <div *ngIf="filterType == 'Date'" class="flex">
              <div class="iigwo-input">
                <label>From</label>
                <input type="date" [(ngModel)]="filterInputDate1">
              </div>
              <div class="iigwo-input">
                <label>To</label>
                <input type="date" [(ngModel)]="filterInputDate2">
              </div>
            </div>
            <div class="iigwo-input" *ngIf="filterType == 'File Status'">
              <label>Status</label>
              <select [(ngModel)]="filterInputText" [ngModelOptions]="{standalone: true}" style="margin-right: 10px;">
                <option *ngFor="let e of arrFilterFileStatus" [ngValue]="e.descripcion">
                  {{e.descripcion}}</option>
              </select>
            </div>
            <div class="iigwo-input" *ngIf="filterType == 'Payment Status'">
              <label>Status</label>
              <select [(ngModel)]="filterInputText" [ngModelOptions]="{standalone: true}" style="margin-right: 10px;">
                <option *ngFor="let e of arrFilterStatusPago" [ngValue]="e.descripcion">
                  {{e.descripcion}}</option>
              </select>
            </div>
            <div class="iigwo-input" *ngIf="filterType == 'Waiver'">
              <label>Waiver</label>
              <select [(ngModel)]="filterInputText" [ngModelOptions]="{standalone: true}" style="margin-right: 10px;">
                <option *ngFor="let e of arrFilterWaiver" [ngValue]="e.value">
                  {{e.display}}</option>
              </select>
            </div>
            <button class="accent iigwo small" style="margin-bottom: -6px;" [disabled]="filterInputText == '' || (filterInputDate1 == '' && filterInputDate2 == '')" (click)="explorar()">Explore</button>
          </div>
        </div>
      </div>

      <!-- BOTONES A LA DERECHA -->
      <!-- <div style="margin-bottom: 20px; display: flex; flex-direction: row-reverse;">
        <button (click)='showClosedRequests()' class="btn" *ngIf="isTemplateCreator"
						style="color: #681C69; background: #E9E9E9; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
						<label style="margin: auto;">Show Closed Requests</label>
					</button>
      </div> -->

      <!-- TABLA CON REGISTROS -->
      <div style="display:flex; flex-flow: column; overflow: auto;">
        <table class='big' *ngIf="!(solicitudes.length == 0)">
          <tr>
            <th class=''><input type="checkbox" [checked]="estanTodosSeleccionados()" (change)="checkAll($event)"></th>
            <th class=''>File</th>
            <th class='' *ngIf="!(isInterviewer || isTemplateCreator || isInterviewerScales)">Creation Date</th>
            <th class=''>Age</th>
            <th class='' *ngIf="isMaster">Assigned</th>
            <th class=''>Customer Name</th>
            <th class=''>Phone</th>
            <th class=''>Type</th>
            <th class=''>Additional</th>
            <th class=''>Email</th>
            <th class=''>Importance</th>
            <th class='' *ngIf="!(isInterviewer || isTemplateCreator || isVOC || isInterviewerScales)">Payment Status
            </th>
            <th class=''>File Status</th>
            <th class='' *ngIf="isMaster || isBackOffice || isInterviewer">Interview Appointment</th>
            <th class='' *ngIf="!(isInterviewer || isGhostwriting)">Scales Appointment</th>
          </tr>
          <tr *ngFor='let e of solicitudes | slice:paginacion.begin:paginacion.end'>
            <td class=''><input type="checkbox" [checked]="estaSeleccionado(e.idSolicitud)"
                (change)="check($event, e.idSolicitud)"></td>
            <td class=''><a routerLink="{{e.idSolicitud}}">{{e.idSolicitud}}</a></td>
            <td class='accent' *ngIf="!(isInterviewer || isTemplateCreator || isInterviewerScales)">{{e.fechaInicio |
              dateYYYYMMDD}}</td>
            <td style="text-align: center;"><span class="badge-status" style="margin: 0;" [ngClass]="{'badge-color-0': e.age == 0,
                            'badge-color-1': e.age <= 1,
                            'badge-color-2': e.age == 2,
                            'badge-color-3': e.age >= 3}">{{e.age}}</span></td>
            <td class='accent' *ngIf="isMaster">{{e.abogado}}</td>
            <td class=''><a routerLink="{{e.idSolicitud}}">{{e.cliente}}</a></td>
            <td class='accent'>{{e.telefono | phone}}</td>
            <td class='accent'>{{e.tipoSolicitud}}</td>
            <td class='accent'>{{e.adicional}}</td>
            <td class='accent'>{{e.email}}</td>
            <td style="text-align: center;"><span class="badge-status badge-color-important" style="margin: 0;"
                *ngIf="e.importante.length > 0">{{e.importante}}</span></td>
            <td style="text-align: center;"
              *ngIf="!(isInterviewer || isTemplateCreator || isVOC || isInterviewerScales)"><span class="badge-status"
                style="margin: 0;" [ngClass]="{'badge-color-partially': e.idEstatusPago == 1,
                            'badge-color-complete': e.idEstatusPago == 2,
                            'badge-color-hold': e.idEstatusPago == 3,
                            'badge-color-na': e.idEstatusPago == 4}">{{e.estatusPago}}</span></td>
            <td style="text-align: center;"><span class="badge-status" style="margin: 0;" [ngClass]="{'badge-color-received': e.idEstatusSolicitud == 1,
                'badge-color-reviewing': e.idEstatusSolicitud == 2,
                'badge-color-interview': e.idEstatusSolicitud == 3,
                'badge-color-refused': e.idEstatusSolicitud == 4,
                'badge-color-no_show': e.idEstatusSolicitud == 5,
                'badge-color-case': e.idEstatusSolicitud == 6,
								'badge-color-lost': e.idEstatusSolicitud == 7,
								'badge-color-won': e.idEstatusSolicitud == 8,
								'badge-color-open': e.idEstatusSolicitud == 9,
								'badge-color-ready_on_draft': e.idEstatusSolicitud == 10,
								'badge-color-closed': e.idEstatusSolicitud == 11}">{{e.estatusSolicitud}}</span></td>
            <td class='accent' *ngIf="isMaster || isBackOffice || isInterviewer || isGhostwriting">{{e.fecha_schedule |
              dateYYYYMMDD}}
            <td class='accent' *ngIf="!isInterviewer">{{e.fecha_schedule_scales | dateYYYYMMDD}}
            </td>
          </tr>

          <tr>
            <td colspan="99" style="text-align: right;line-height: 24px;" class="mini">
              <label>
                Records per page</label>
              <select [(ngModel)]="paginacion.size" (ngModelChange)="paginacion.fix()"
                style="margin: 0 8px; font-family: regular; height: 24px;">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              {{paginacion.begin + 1}}-{{paginacion.end}} of {{paginacion.array.length}}
              <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                (click)="paginacion.back();">
                <mat-icon svgIcon="arrow-back"></mat-icon>
              </button>
              <button class="iigwo small" style="margin: 0 0 0 8px; padding:0; height: 24px; min-height: 24px;"
                (click)="paginacion.forward();">
                <mat-icon svgIcon="arrow-forward"></mat-icon>
              </button>
            </td>
          </tr>

        </table>
      </div>

      <!-- MENSAJE DE NO HAY REGISTROS -->
      <div *ngIf="solicitudes.length == 0">
        <h3 style="margin:12px 0 6px 0">No results</h3>
        <p style="max-width:396px;">There are no files within the search criteria. Make sure that the names are correct
          and that they are searching in the appropriate field.</p>
      </div>

    </div>

    <!--Cargando-->
    <div class='iigwo-loading' *ngIf="cargando">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
