<app-workspace-nav>
  <app-solicitudes-nav></app-solicitudes-nav>
</app-workspace-nav>
<div class='workspace'>
  <div class='main'>
    <app-experimental-menu [titulo]="titulo" backButtonEnabled="true">
      <!-- <span class="badge-status badge-color-schedule-title"
        *ngIf="(isInterviewer || isInterviewerScales) && solicitud.fecha_schedule">Schedule
        {{solicitud.fecha_schedule | dateMMDDYYYY}}</span> -->
    </app-experimental-menu>

    <div style="display:flex; flex-flow: row" *ngIf="creando || solicitud.idSolicitud">
      <div class='content-left' [ngStyle]="{'right': (creando ? '0' : '280px')}"
        style="display:flex; flex-flow: column;">
        <div style="display:flex; flex-flow: row; flex-wrap: wrap;">
          <div class="column">
            <!-- <div class="iigwo-input" *ngIf="creando">
              <label>Creation Date</label>
              <input [ngModel]="solicitud.fechaInicio | dateMMDDYYYY" readOnly>
            </div> -->

            <div class="iigwo-input">
              <label>Customer Name</label>
              <input type="text" [(ngModel)]="solicitud.cliente" [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div>

            <div class="iigwo-input">
              <label>Customer Last Names</label>
              <input type="text" [(ngModel)]="solicitud.apellidos" [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div>

            <div class="iigwo-input">
              <label>Type</label>
              <select [(ngModel)]="inputTipoSolicitud" [disabled]="solicitud.idEstatusSolicitud == 11">
                <option *ngFor="let tipoSolicitud of arrTipoSolicitud" [ngValue]="tipoSolicitud">
                  {{tipoSolicitud.nombre}}</option>
              </select>
            </div>

            <!-- <div class="iigwo-input">
              <label>Additional</label>
              <input type="text" [(ngModel)]="solicitud.adicional" [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div> -->

            <div class="iigwo-input">
              <div class="wrapper">
                <label>Phone<a (click)="validatePhone()">Validate Phone</a></label>
                <input type="text" [(ngModel)]="solicitud.telefono" [readOnly]="solicitud.idEstatusSolicitud == 11"
                  (input)="onPhoneNumberInput($event.target.value)" placeholder="(###) ###-####" maxlength="14">
              </div>
            </div>

            <div class="iigwo-input">
              <label>Email</label>
              <input type="email" [(ngModel)]="solicitud.email" [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div>

            <!-- <div class="iigwo-input">
              <label>Birth Date</label>
              <input [ngModel]="solicitud.fechaNacimiento" (ngModelChange)='solicitud.fechaNacimiento = $event'
                type="date" [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div> -->

            <div class="iigwo-input">
              <label>Case number</label>
              <input type="text" [(ngModel)]="solicitud.numeroDeCaso" [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div>

            <div class="iigwo-input">
              <label>Code</label>
              <input type="text" [(ngModel)]="solicitud.code" [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div>
          </div>
          <div class="column">
            <div style="display: inline-flex; justify-content: space-evenly; margin-bottom: 5px;" *ngIf="editando">
              <div class="iigwo-input" style="justify-items: center;">
                <label>Sessions</label>
                <span class="badge-status badge-color-0" style="margin: 0;">{{solicitud.numSesiones}}</span>
              </div>
              <div class="iigwo-input" style="justify-items: center;">
                <label>Schedules</label>
                <span class="badge-status badge-color-0" style="margin: 0;">{{solicitud.numSchedules}}</span>
              </div>
              <div class="iigwo-input" style="justify-items: center;">
                <label>Pending Sessions</label>
                <span class="badge-status" style="margin: 0;"
                  [ngClass]="{'badge-color-0': (solicitud.sesionesPendientes == 0 || solicitud.sesionesPendientes > 15),
                              'badge-color-3': (solicitud.sesionesPendientes > 0 && solicitud.sesionesPendientes <= 5),
                              'badge-color-2': (solicitud.sesionesPendientes > 5 && solicitud.sesionesPendientes <= 15)}">{{solicitud.sesionesPendientes}}</span>
              </div>
            </div>
            <div class="iigwo-input" *ngIf="isVOC">
              <label>Sessions Number</label>
              <input type="number" [(ngModel)]="solicitud.numSesiones" min="0" minlength="1"
                [readOnly]="solicitud.idEstatusSolicitud == 11">
            </div>
            <div class="iigwo-input" *ngIf="editando">
              <label>Document 1</label>
              <div style="display: flex;">
                <input type="checkbox" style="width: 15px; margin: 0 6px 0 4px;" [checked]="solicitud.documento1"
                  (change)="document1CheckChange()" [readOnly]="solicitud.idEstatusSolicitud == 11">
                <input [ngModel]="solicitud.fechaDoc1" (ngModelChange)='solicitud.fechaDoc1 = $event' type="date"
                  [readOnly]="!solicitud.documento1 || solicitud.idEstatusSolicitud == 11">
              </div>
            </div>
            <div class="iigwo-input" *ngIf="editando">
              <label>Document 2</label>
              <div style="display: flex;">
                <input type="checkbox" style="width: 15px; margin: 0 6px 0 4px;" [checked]="solicitud.documento2"
                  (change)="document2CheckChange()" [readOnly]="solicitud.idEstatusSolicitud == 11">
                <input [ngModel]="solicitud.fechaDoc2" (ngModelChange)='solicitud.fechaDoc2 = $event' type="date"
                  [readOnly]="!solicitud.documento2 || solicitud.idEstatusSolicitud == 11">
              </div>
            </div>
          </div>
        </div>

        <button *ngIf="creando" class='accent iigwo' style="margin-top: 12px;" (click)='crearSolicitud()'>
          <label>Create</label>
        </button>

        <button *ngIf="editando && solicitud.idEstatusSolicitud != 11" class='accent iigwo' style="margin-top: 12px;"
          (click)='guardarCambios()'>
          <label>Save Changes</label>
        </button>

        <!-- CITAS DE LA SOLICITUD -->
        <div style="display:flex; flex-flow: row;" *ngIf="solicitud.idSolicitud && isTherapist">
          <app-citas-solicitud [idSolicitud]="solicitud.idSolicitud"
            [idUsuario]="usuario.idUsuario"></app-citas-solicitud>
        </div>

        <!-- EVENTOS DE LA SOLICITUD -->
        <div style="display:flex; flex-flow: row;" *ngIf="solicitud.idSolicitud">
          <app-eventos-solicitud-voc [idSolicitud]="solicitud.idSolicitud"
            [idEstatusSolicitud]="solicitud.idEstatusSolicitud"></app-eventos-solicitud-voc>
        </div>

        <!-- ADJUNTOS DE LA SOLICITUD -->
        <div style="display:flex; flex-flow: row;" *ngIf="solicitud.idSolicitud">
          <app-adjuntos-voc [idSolicitud]="solicitud.idSolicitud" [idUsuario]="usuario.idUsuario"
            [idEstatusSolicitud]="solicitud.idEstatusSolicitud"></app-adjuntos-voc>
        </div>
      </div>
      <div class='content-right' *ngIf="editando"
        style="display:flex; flex-flow: column; border-left: solid 1px rgba(0, 0, 0, 0.2);">
        <div class="iigwo-input">
          <label>Creation Date</label>
          <input [ngModel]="solicitud.fechaInicio | dateMMDDYYYY" readOnly>
        </div>

        <div class="iigwo-input">
          <label>File Status</label>
          <span class="badge-status" [ngClass]="{'badge-color-received': solicitud.idEstatusSolicitud == 1,
                    'badge-color-reviewing': solicitud.idEstatusSolicitud == 2,
                    'badge-color-interview': solicitud.idEstatusSolicitud == 3,
                    'badge-color-refused': solicitud.idEstatusSolicitud == 4,
                    'badge-color-no_show': solicitud.idEstatusSolicitud == 5,
                    'badge-color-case': solicitud.idEstatusSolicitud == 6,
                    'badge-color-lost': solicitud.idEstatusSolicitud == 7,
                    'badge-color-won': solicitud.idEstatusSolicitud == 8,
                    'badge-color-open': solicitud.idEstatusSolicitud == 9,
                    'badge-color-ready_on_draft': solicitud.idEstatusSolicitud == 10,
                    'badge-color-closed': solicitud.idEstatusSolicitud == 11,
                    'badge-color-in_approbal': solicitud.idEstatusSolicitud == 13,
                    'badge-color-process': solicitud.idEstatusSolicitud == 14}">{{solicitud.estatusSolicitud}}</span>
        </div>

        <div class="iigwo-input" *ngIf="!(isTherapist)">
          <label>Payment Status</label>
          <span class="badge-status" [ngClass]="{'badge-color-partially': solicitud.idEstatusPago == 1,
                    'badge-color-complete': solicitud.idEstatusPago == 2,
                    'badge-color-hold': solicitud.idEstatusPago == 3,
                    'badge-color-na': solicitud.idEstatusPago == 4}">{{solicitud.estatusPago}}</span>
          <input [ngModel]="solicitud.adeudo" readOnly>
        </div>

        <div class="iigwo-input" *ngIf="!(isTherapist)">
          <label>Therapist</label>
          <input [ngModel]="solicitud.nombreTerapeuta" readOnly style="font-weight: 600;"
            *ngIf="solicitud.nombreTerapeuta else notIntSc">
          <ng-template #notIntSc>
            <input value="Unassigned" readOnly>
          </ng-template>
        </div>

        <!-- <div class="iigwo-input" style="margin: 0;" *ngIf="editando">
          <input type="checkbox" style="width: 15px;display: inline-block;line-height: 18px;margin: 0 6px 0 4px;"
            id="waiver" [checked]="solicitud.waiver" (change)="solicitud.waiver = !solicitud.waiver">
          <label for="waiver" style="display: inline-block;line-height: 24px;margin: 0;font-size: 12px;">Waiver</label>
        </div> -->

        <div style="margin: 0; display:flex; flex-flow: column;">
          <h4 style="margin: 0; margin-top: 40px;">Actions</h4>

          <div style="margin: 0; display:flex; flex-flow: column;" *ngIf="solicitud.idEstatusSolicitud != 11">
            <button (click)='cambiarEstatusSolicitud(13, false)' class="btn" *ngIf="solicitud.idEstatusSolicitud == 1"
              style="color: #FFFFFF; background: #15B392; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
              <!-- <mat-icon svgIcon="add-box"></mat-icon> -->
              <label style="margin: auto;">Send for Approval</label>
            </button>

            <button (click)='asignarTerapeuta()' class="btn"
              *ngIf="solicitud.terapeuta == 0 && solicitud.idEstatusSolicitud != 1"
              style="color: #FFFFFF;background: #9340D3; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
              <!-- <mat-icon svgIcon="add-box"></mat-icon> -->
              <label style="margin: auto;">Assign Therapist</label>
            </button>

            <button (click)='asignarTerapeuta()' class="btn" *ngIf="solicitud.terapeuta != 0 && isVOC"
              style="color: #FFFFFF;background: #CE3FC4; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
              <!-- <mat-icon svgIcon="add-box"></mat-icon> -->
              <label style="margin: auto;">Reassign Therapist</label>
            </button>

            <button (click)='generateProcessLetter()' class="btn"
              style="color: #FFFFFF;background: #2A9AC7; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
              <!-- <mat-icon svgIcon="add-box"></mat-icon> -->
              <label style="margin: auto;">Generate Progress Letter</label>
            </button>

            <button (click)='completeFile()' class="btn" *ngIf="isVOC"
              style="color: #FFFFFF;background: #D34272; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
              <!-- <mat-icon svgIcon="add-box"></mat-icon> -->
              <label style="margin: auto;">Complete File</label>
            </button>
          </div>
          <div style="margin: 0; display:flex; flex-flow: column;" *ngIf="solicitud.idEstatusSolicitud == 11">
            <button (click)='reopenFile()' class="btn"
              style="color: #FFFFFF;background: #F26C4F; border-radius: 5px; height: 28px; line-height: 28px; margin-top: 12px;">
              <!-- <mat-icon svgIcon="add-box"></mat-icon> -->
              <label style="margin: auto;">Reopen File</label>
            </button>
          </div>

          <br>

          <!-- BOTONES -->
        </div>
      </div>
    </div>

    <!--Cargando-->
    <div class='iigwo-loading' *ngIf="cargando">
      <mat-spinner></mat-spinner>
    </div>

  </div>
</div>
