<div *ngIf="mostrarAdjuntos" style="
                overflow-y: auto;">

    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h4 i18n="">Attachments</h4>
        <button (click)='cargarAdjunto()' class="btn m-l-40" *ngIf="file.length > 0"
            style="color: #239B56;background: #EAFAF1;border-radius: 5px; height: 28px; line-height: 28px;">
            <mat-icon svgIcon="file-upload"></mat-icon>
            <label i18n="">Upload File(s)</label>
        </button>
    </div>

    <div>
        <label for='fileId' [class]='file.length == 0 ?"fake-button accent":"fake-button"' tabindex="0" *ngIf="idEstatusSolicitud != 11">
            <span *ngIf="file.length == 0">Select Files</span>
            <span *ngIf="file.length > 0">Selected Files</span>
        </label>

        <label style="display: inline-block; line-height: 32px; font-size: 13px; color:rgba(0,0,0,0.5);"
            *ngIf="file.length == 0">No files selected</label>
        <div *ngFor="let f of file" style="display: inline-block;">
            <span class="badge-file-icon"><mat-icon svgIcon="attach_file"></mat-icon></span>
            <span class="badge-file" style="padding-right: 21px;">{{f.name}}</span>
            <span style="margin-left: -18px;">
                <button class="iigwo adjuntos-options" (click)="quitarAdjunto(f)">
                    <mat-icon style="margin-top: 1px;" svgIcon="close"></mat-icon>
                </button>
            </span>
        </div>

        <input id='fileId' type="file" #fileInput (change)="onFileSelected(fileInput.files)" *ngIf="idEstatusSolicitud != 11"
            style='display:none;' multiple>
    </div>

    <table class="informative" *ngIf="arrAdjunto.length > 0">
        <tr>
            <th>File</th>
            <th>View</th>
        </tr>
        <tr *ngFor='let e of arrAdjunto'>
            <td style="font-style: italic;">{{e.nombre}}</td>
            <td style="display: flex;">
                <button (click)='abrirAdjunto(e)' class="btn-icon" style="color: gray;" matTooltip="Open">
                    <mat-icon svgIcon="eye"></mat-icon>
                </button>

                <button (click)='descargarAdjunto(e)' class="btn-icon" style="color: dodgerblue;" matTooltip="Download">
                    <mat-icon svgIcon="file-download"></mat-icon>
                </button>

                <button (click)='eliminarAdjunto(e)' class="btn-icon" style="color: red;" matTooltip="Delete" *ngIf="idEstatusSolicitud != 11">
                    <mat-icon svgIcon="delete"></mat-icon>
                </button>
            </td>
        </tr>
    </table>
    <p style="margin-bottom: 20px; font-size: 13px;" *ngIf="!arrAdjunto.length > 0">
      <span i18n="">The file has no attachments.</span>
    </p>
</div>
<!-- <p style="margin-bottom: 0px; font-size: 13px;">

    <span *ngIf="!mostrarAdjuntos" i18n="@@cajachi.singlesol.mostrarAdjuntos0">La solicitud
    tiene una bitácora de eventos. </span>
    <span *ngIf="!mostrarAdjuntos" (click)="mostrarAdjuntos=true;refresh()" class="link"
    i18n="@@cajachi.singlesol.mostrarAdjuntos">Mostrar bitácora</span>

    <span *ngIf="mostrarAdjuntos" (click)="mostrarAdjuntos=false" class="link"
    i18n="@@cajachi.singlesol.ocultarBitacora">Ocultar bitácora</span>
    </p> -->

<!--Cargando-->
<div class='iigwo-loading' *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>
