<h2 mat-dialog-title>Payments</h2>

<mat-dialog-content>
  <div style="display: flex;">
    <div class="mb-20">
      <p class="text-body-secondary fs-9 mb-0">Pending Amount</p>
      <h4 class="mb-0 mt-0" style="color: red;">{{(detalleMovimientos.pendiente ? detalleMovimientos.pendiente: 0) | currency : 'USD' : 'symbol' : undefined : 'en-US'}}</h4>
    </div>
  </div>
  <table class="informative" *ngIf="detalleMovimientos.movimientos.length > 0">
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Description</th>
      <th>Discount</th>
    </tr>
    <tr *ngFor='let e of detalleMovimientos.movimientos'>
      <td style="white-space: nowrap;">{{e.fecha | dateYYYYMMDD}}</td>
      <td class="number">{{e.monto | currency : 'USD' : 'symbol' : undefined : 'en-US'}}</td>
      <td>{{e.descripcionTipoPago}}</td>
      <td>{{e.descripcion}}</td>
      <td class="number">{{e.descuento | currency : 'USD' : 'symbol' : undefined : 'en-US'}}</td>
    </tr>
  </table>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="iigwo accent" (click)='cerrar()'>Close</button>
</mat-dialog-actions>

<!-- CARGANDO-->
<div class='iigwo-loading' *ngIf="cargando">
  <mat-spinner></mat-spinner>
</div>
