<div *ngIf="mostrarEventos" style="
                overflow-y: auto;">

    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h4 i18n="">Events</h4>
        <button (click)='crearEvento()' class="btn m-l-40" *ngIf="idEstatusSolicitud != 11"
            style="color: #239B56;background: #EAFAF1;border-radius: 5px; height: 28px; line-height: 28px;">
            <mat-icon svgIcon="add"></mat-icon>
            <label i18n="">Add Event</label>
        </button>
    </div>

    <table class="informative" *ngIf="arrEventoSolicitud.length > 0">
        <tr>
            <th>Date</th>
            <th>User</th>
            <th>Event</th>
            <th>Description</th>
            <th>Type</th>
        </tr>
        <tr *ngFor='let e of arrEventoSolicitud'>
            <td style="white-space: nowrap;">{{e.fecha | date:'yyyy/MM/dd HH:mm':'':'en'}}</td>
            <td>{{e.usuario}}</td>
            <td>{{e.evento}}</td>
            <td style="font-style: italic;">{{e.descripcion}}</td>
            <td style="text-align: center;"><span class="badge-status" style="margin: 0;"
              [ngClass]="{'badge-color-info': e.tipo == 'Info',
              'badge-color-schedule': e.tipo == 'Schedule',
              'badge-color-important': e.tipo == 'Important',
              'badge-color-notification': e.tipo == 'Notification'}">{{e.tipo}}</span></td>
        </tr>
    </table>
</div>
<!-- <p style="margin-bottom: 0px; font-size: 13px;">

    <span *ngIf="!mostrarEventos" i18n="@@cajachi.singlesol.mostrarEventos0">La solicitud
    tiene una bitácora de eventos. </span>
    <span *ngIf="!mostrarEventos" (click)="mostrarEventos=true;refresh()" class="link"
    i18n="@@cajachi.singlesol.mostrarEventos">Mostrar bitácora</span>

    <span *ngIf="mostrarEventos" (click)="mostrarEventos=false" class="link"
    i18n="@@cajachi.singlesol.ocultarBitacora">Ocultar bitácora</span>
    </p> -->

<!--Cargando-->
<div class='iigwo-loading' *ngIf="cargando">
    <mat-spinner></mat-spinner>
</div>
